h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    text-align:center;
    font-weight:400;
    position:absolute;
    top:25%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(194, 230, 189, 0.5);
    border-radius:5px;
    padding:10px;
    width:300px;
    
}

header{
    background-image: url("../images/greenheader.png");
    height:90px;
    width:100vw;
    background-size:cover;
    margin-block-end:auto;
}

.flexboxheader{
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-size:large;
    font-weight:300;
    color:rgb(184, 216, 186);
}

.logo{
    flex-basis:20vw;
    width:75px;
    padding:10px;
}

.product{
    flex-grow: 20vw;
    padding:40px;
}

.media{
    flex-grow:20vw;
    padding:40px;
}

.search{
    flex-grow:3;
    text-align:right;
    width:35px;
    padding:15px;
}

.contact{
    flex-grow:20vw;
    padding:40px;
}

.erbjuder{
    flex-basis:40vw;
}

.omoss{
    flex-basis:40vw;
    padding:10px;
}

a{
    text-decoration: none;
    color:rgb(184, 216, 186);
}

.hero{
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:260px;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    padding:5px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.floating{
    float:left;
    padding:10px;
}

.flexboxbody{
    display:flex;
    flex-direction:row;
    margin:10px;
    padding:5px;
}


.ads{
flex-basis:20vw;
}

footer{
    background-image: url("../images/greenheader.png");
    height:90px;
    width:100vw;
    background-size:cover;
    margin-block-end:auto;
}

.flexboxfooter{
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-size:medium;
    font-weight:300;
    color:rgb(184, 216, 186);
